---
import Layout from '../layouts/GeneralLayout.astro';
---
<Layout title='About' description='Who I am, contact information, and some projects'>
    <p>
        Hello, I'm Joey Vongphasouk. I graduated from Colorado School of Mines in December 2024 with
        a BS in Computer Science with a computer engineering focus area and Magna Cum Laude honors.
        A semester later, I graduated with my MS in Computer Science. This is my personal website
        where I will be posting about things I find interesting.
    </p>
    <h2>Socials</h2>
    <ul>
        <li><a href="https://github.com/joeyvong" target="_blank">Github</a></li>
        <li><a href="https://www.linkedin.com/in/joey-vongphasouk/" target="_blank">LinkedIn</a></li>
        <li><a href="https://www.hoyolab.com/accountCenter/postList?id=12879785" target="_blank">HoyoLab</a></li>
        <li><a href="https://op.gg/lol/summoners/na/ArcticOptimistic-ehe" target="_blank">OP.gg</a></li>
    </ul>

    <br>
    <h2>Contacts</h2>
    <ul>
        <li><a>Email</a></li>
    </ul>
</Layout>