---
import Layout from '../layouts/GeneralLayout.astro';
---
<Layout>
    <p class="mb-4">
        Hello, I'm Joey Vongphasouk. I graduated from Colorado School of Mines in December 2024 with
        a BS in Computer Science with a computer engineering focus area and Magna Cum Laude honors.
        A semester later, I graduated with my MS in Computer Science. This is my personal website
        where I will be posting about things I find interesting.
    </p>
    <h2 class="text-2xl">Notable Past Projects</h2>
    <ul class="list-disc list-inside mb-4">
        <li><a>Measuring Pattern Matching Benchmarks on CPU, GPU, and FPGA (2025)</a></li>
        <li><a>Greedy pathfinding algorithm for linearly accelerating and deceleratting surfaces (2025)</a></li>
        <li><a>Meta Quest 2 Network Security Case Study (2025)</a></li>
        <li><a>Mandira: A 3D Puzzle Platformer Video Game (2025)</a></li>
        <li><a>OpenGL Coin Collection Game (2024)</a></li>
        <li><a>Cache Simulation and Prefetcher (2024)</a></li>
        <li><a>Space Invaders Recreation using SFML (2023)</a></li>
    </ul>

    <h2 class="text-2xl">Socials</h2>
    <ul class="list-disc list-inside mb-4">
        <li><a class="text-blue-600" href="https://github.com/joeyvong" target="_blank">Github</a></li>
        <li><a class="text-blue-600" href="https://www.linkedin.com/in/joey-vongphasouk/" target="_blank">LinkedIn</a></li>
        <li><a class="text-blue-600" href="https://www.hoyolab.com/accountCenter/postList?id=12879785" target="_blank">HoyoLab</a></li>
        <li><a class="text-blue-600" href="https://op.gg/lol/summoners/na/ArcticOptimistic-ehe" target="_blank">OP.gg</a></li>
    </ul>

    <h2 class="text-2xl">Contacts</h2>
    <ul class="list-disc list-inside mb-4">
        <li><a>Email</a></li>
    </ul>
</Layout>