---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/GeneralLayout.astro';
import Header from '../components/Header.astro';
import Post from './lorem.md';
---

<Layout>
<a href="./blogs/landing-page">Blogs</a>
<Post/>
</Layout>