---
import Layout from '../layouts/GeneralLayout.astro';
import Post from './lorem.md';

const description = "A website about myself, my blogs, and other things I want to post"

// const res = await fetch( endpoint )
---

<Layout title='Joey Vongphasouk' description={description} >

Hi! I'm Joey.
Software engineer and video game enthusiast.

<a href="blogs">Blogs</a>

</Layout>