---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/GeneralLayout.astro';
import Header from '../components/Header.astro';
import Post from './lorem.md';

const description = "A website about myself, my blogs, and other things I want to post"

// const res = await fetch( endpoint )
---

<Layout title='Joey Vongphasouk' description={description} >
<a href="blogs">Blogs</a>
<Post/>
</Layout>