---
import Layout from '../layouts/GeneralLayout.astro';
---

<Layout>
    <h2 class="text-2xl">Projects</h2>
    <ol class="max-w-md list-disc list-inside mb-2">
        <li>Day: A 2D Metroidvania</li>
        <li>Vulcan and OpenGL 3D Model Viewer</li>
        <li>Online Genshin Elements Visualization</li>
    </ol>
    <h2 class="text-2xl">Video games</h2>
    <ol class="max-w-md list-disc list-inside mb-2">
        <li>League of Legends</li>
        <li>Genshin Impact</li>
        <li>Shape of Dreams</li>
    </ol>
    <h2 class="text-2xl">Other hobbies</h2>
    <ol class="max-w-md list-disc list-inside mb-2">
        <li>Cooking a good steak</li>
        <li>Anime</li>
    </ol>
</Layout>