---
import Layout from '../layouts/GeneralLayout.astro';
---

<Layout title='Now' description='What I am currently doing'>
    <h2>Projects</h2>
    <ol>
        <li>Day: A 2D Metroidvania</li>
        <li>Vulcan and OpenGL 3D Model Viewer</li>
        <li>Online Genshin Elements Visualization</li>
    </ol>
    <br>
    <h2>Video games</h2>
    <ol>
        <li>Slay the Spire 2</li>
        <li>Genshin Impact</li>
        <li>Honkai Star Rail</li>
    </ol>
    <br>
    <h2>Other hobbies</h2>
    <ol>
        <li>Cooking Food</li>
        <li>Watching anime</li>
    </ol>
</Layout>