---
import Layout from '../layouts/GeneralLayout.astro';
---

<Layout title='Now' description='What I am currently doing'>
    <h2>Current Projects</h2>
    <ol>
        <li>My blog website</li>
        <li>Day: A 2D Metroidvania</li>
        <li>Interactive Genshin Impact Reaction Playground</li>
    </ol>

    <br>
    <h2>Past Projects</h2>
    <ul>
        <li><a href="/project_reports/pattern_match_report.pdf" target="_blank">Measuring Pattern Matching Benchmarks on CPU, GPU, and FPGA (2025)</a></li>
        <li><a href="/project_reports/greedy_orient_rep.pdf" target="_blank">Greedy pathfinding algorithm for linearly accelerating and decelerating surfaces (2025)</a></li>
        <li><a href="/project_reports/vr_cs_report.pdf" target="_blank">Meta Quest 2 Network Security Case Study (2025)</a></li>
        <li><a href="/project_reports/mandira_design_doc.pdf" target="_blank">Mandira: A 3D Puzzle Platformer Video Game (2025)</a></li>
        <li><a>OpenGL Coin Collection Game (2024)</a></li>
        <li><a>Cache Simulation and Prefetcher (2024)</a></li>
        <li><a>Space Invaders Recreation using SFML (2023)</a></li>
    </ul>
</Layout>

    