---
import { Icon } from 'astro-icon/components';
---
<footer class="end-page">
  <div class="content">
    Joey Vongphsouk

    <nav class="socials-images">
      <a class="image-clickable" href="https://www.linkedin.com/in/joey-vongphasouk" target="_blank">
        <Icon name="Linkedin" width="40" height="40"/>
      </a>
      <a class="image-clickable" href="https://github.com/joeyvong" target="_blank">
        <Icon name="Github" width="40" height="40"/>
      </a>
      <a class="image-clickable" href="mailto:you@email.com">
        <Icon name="Email" width="40" height="40"/>
      </a>
    </nav>
  </div>
</footer>