---
import { Icon } from 'astro-icon/components';
---
<footer class="end-page">
  <div class="content gap-4">
    Joey Vongphasouk

    <nav class="flex gap-2">
      <a href="https://github.com/joeyvong" target="_blank">
        <Icon name="Github" width="40" height="40"/>
      </a>
      <a href="https://www.linkedin.com/in/joey-vongphasouk" target="_blank">
        <Icon name="Linkedin" width="40" height="40"/>
      </a>
      <a href="mailto:you@email.com">
        <Icon name="Email" width="40" height="40"/>
      </a>
    </nav>
  </div>
</footer>

<style>
  .end-page {
    background-color: #eee;
    width: 100%;
    min-height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    display: flex;
    align-items: center;
  }

  /* .socials {
    display: flex;
  } */
</style>