---

---
<footer class="end-page">
  <div class="content gap-4">
    Joey Vongphasouk

    <nav class="flex gap-2">
      <a href="https://github.com/joeyvong" target="_blank">
        <img src="../icons/Github.svg" style="width:40px;height:40px;" alt="Github">
      </a>
      <a href="https://www.linkedin.com/in/joey-vongphasouk" target="_blank">
        <img src="../icons/Linkedin.svg" style="width:40px;height:40px;" alt="LinkedIn">
      </a>
      <a href="mailto:you@email.com">
        <img src="../icons/Email.svg" style="width:40px;height:40px;" alt="Email">
      </a>
    </nav>
  </div>
</footer>

<style>
  .end-page {
    background-color: #eee;
    width: 100%;
    min-height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    display: flex;
    align-items: center;
  }

  /* .socials {
    display: flex;
  } */
</style>