---

---
<header>
    <a href="/" class="header-link">Joey Vongphasouk</a>
    <nav>
        <a href="../about" class="header-link">About</a>
        <a href="../now" class="header-link">Now</a>
        <a href="../contact" class="header-link">Contact</a>
    </nav>
</header>

<style>
  header {
    position: sticky;
    top: 0;
    min-height: 80px;
    margin:0 5% 0;

    background-color: white;
    border-bottom: 1px solid #eee;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-link {
    text-decoration: none;
    color: inherit;
  }
  nav a {
    margin-left: 1rem;
    text-decoration: none;
  }
</style>