---

---
<header>
    <a href="/" class="logo">Joey</a>
    <nav>
        <a href="../about" class="active">About</a>
        <a href="../now" class="active">Now</a>
        <a href="../contact" class="active">Contact</a>
    </nav>
</header>

<style>
  header {
    position: sticky;
    top: 0;
    min-height: 80px;
    margin:0 5% 0;

    background-color: white;
    border-bottom: 1px solid #eee;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav a {
    margin-left: 1rem;
    text-decoration: none;
  }
</style>