---
import '../styles/global.css'
import '../components/Header.astro'
import Header from '../components/Header.astro';
const {title, date, tags} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<title>Astro Basics</title>
</head>
<body>
	<Header/>
	<slot />
</body>
</html>