---
import GeneralLayout from './GeneralLayout.astro';

interface Props {
	title: string;
	date: Date;
	description: string;
	tags: string[];
}

const { title, date, description, tags } = Astro.props as Props;
---

<GeneralLayout title={title} description={description}>
	<button id="scroll-to-top-button">↑</button>
	<article class="blog-container">
		<a href="./" class="back-button">← Back to all blogs</a>
		<h1>{title}</h1>
		<h2>Date: {date.toDateString()}</h2>
		<br>
		<slot/>
	</article>
</GeneralLayout>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const btn = document.getElementById("scroll-to-top-button");
		if (!btn) return;
		let visible = false;

		window.addEventListener("scroll", () => {
			console.log("tester")
			if (window.scrollY > 300 && !visible) {
				btn.classList.add("visible");
      			setTimeout(() => {
					btn.classList.add("interactive");
				}, 400);
				visible = true;
			}
			
			if (window.scrollY < 300 && visible) {
				btn.classList.remove("interactive");
				btn.classList.remove("visible");
				visible = false;
			}
		});

		btn.addEventListener("click", () => {
			btn.classList.remove("interactive");
			btn.classList.remove("visible");
			window.scrollTo({ top: 0, behavior: "smooth" });
		});
	});
</script>